:root {
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 32px;
    --font-size-3xl: 38px;
    --font-weight-xs: 100;
    --font-weight-s: 200;
    --font-weight-m: 300;
    --font-weight-l: 400;
    --font-weight-xl: 500;
    --font-weight-2xl: 600;
    --font-weight-3xl: 700;
    --font-weight-4xl: 800;
    --font-weight-5xl: 900;
    --line-height: 130%;
    --letter-spacing-xs: 0.1px;
    --letter-spacing-s: 0.5px;
    --letter-spacing-m: 0.8px;
    --letter-spacing-l: 1px;
    --letter-spacing-xl: 1.2px;
}
