.exercisesListContainer {
    margin: var(--gap-m) 0;
    max-height: 200px;
    overflow-y: scroll;
}

.exercisesListContainer::-webkit-scrollbar {
    width: 4px;
}

.exercisesListContainer::-webkit-scrollbar-thumb {
    background-color: var(--character-light-disable-25);
    border-radius: var(--border-radius-xxl);
}

.addExercisesButton:disabled {
    color: var(--character-light-title-85);
}
