.noFeedback {
    height: calc(100vh - var(--gap-4xl));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 var(--gap-xl);
}

.description {
    background: var(--neutral-gray-1);
    vertical-align: center;
    padding: var(--gap-4xl) var(--gap-2xl);
    margin-bottom: var(--gap-l);
    width: 100%;
}

@media (max-width: 576px) {
    .noFeedback {
        margin: 0 var(--gap-m);
    }
}
