.mainContentContainer {
    max-width: 752px;
    margin: 24px 24px 150px;
}

.textTarget {
    color: var(--primary-light-9);
    background-color: var(--neutral-gray-1);
    font-size: var(--gap-m);
    font-weight: var(--font-weight-l);
    padding: var(--gap-xl);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-s);
    margin-bottom: var(--gap-xl);
}

.description {
    background-color: var(--neutral-gray-1);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-xl);
    line-height: var(--line-height);
    padding: var(--gap-xl);
    letter-spacing: var(--letter-spacing-s);
    margin-bottom: var(--gap-m);
}

@media (max-width: 1024px) {
    .mainContentContainer {
        margin-bottom: 225px;
    }
}

@media (max-width: 480px) {
    .mainContentContainer {
        margin: 24px 12px 30px;
    }
}
