.container {
    margin-top: var(--gap-2xl);
}

.withoutTraining {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 76px;
}

.tableContainer {
    margin-bottom: var(--gap-2xl);
}
