.changePassword {
    width: 539px;
    padding: var(--padding-xl);
    background: var(--neutral-gray-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
    text-align: center;
}

.button {
    margin-top: var(--gap-2xl);
}

@media (max-width: 768px) {
    .changePassword {
        width: 328px;
        padding: var(--padding-s);
    }
}
